body {
    background-color: #fce4ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    position: relative;
    text-align: center;
}

.valentines {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.envelope {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #e57373;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #ffeb3b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-10px);
}

.text {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #5d4037;
    margin: 0;
}

.spotify-player {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 12px;
}
