body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fae1dd;
}

.container {
  position: relative;
}

.valentines {
  position: relative;
  top: 50px;
  cursor: pointer;
  animation: up 3s linear infinite;
}

@keyframes up {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.envelope {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f08080;
}

.envelope:before {
  background-color: #f08080;
  content: "";
  position: absolute;
  width: 212px;
  height: 212px;
  transform: rotate(45deg);
  top: -105px;
  left: 44px;
  border-radius: 30px 0 0 0;
}

.card {
  position: absolute;
  background-color: #eae2b7;
  width: 270px;
  height: 150px;
  top: 10px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  font-family: 'Brush Script MT', cursive;
  font-size: 18px;
  color: #003049;
  width: 90%;
  line-height: 1.4;
}

.heart {
  background-color: #d62828;
  display: inline-block;
  height: 25px;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  width: 25px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #d62828;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  width: 25px;
}

.heart:before {
  top: -12px;
  left: 0;
}

.heart:after {
  left: 12px;
  top: 0;
}

.front {
  position: absolute;
  border-right: 180px solid #f4978e;
  border-top: 95px solid transparent;
  border-bottom: 100px solid transparent;
  left: 120px;
  top: 5px;
  width: 0;
  height: 0;
  z-index: 10;
}

.front:before {
  position: absolute;
  content: "";
  border-left: 300px solid #f8ad9d;
  border-top: 195px solid transparent;
  left: -120px;
  top: -95px;
  width: 0;
  height: 0;
}
